@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Space+Grotesk:wght@300..700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Space Grotesk", sans-serif;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.w-inherit {
  width: inherit;
}

.custom-input {
  background: linear-gradient(#f4e096, #51525133, #f4e096);
  border-radius: 10px;
  box-shadow: inset -2px 2px 10.9px 0 #00000029;
  flex-shrink: 0;
  height: 50px;
  margin-top: 10px;
  padding: 1.5px;
  position: relative;
}

.custom-input input,
.custom-input select,
.custom-input div input {
  background: #282c3c;
  border-radius: 8px;
  height: 100%;
  padding: 0 10px;
  width: 100%;
}
